.card {
  min-height: 120px;
  text-align: center; 
  align-items: baseline;
  
  padding: $base-space 0;
  margin: $base-space;

  border-radius: 6px;
  background-color: $color-grey-light;
  box-shadow: 0.5px 0.5px 3px $color-shadow, 0.5px -0.5px 3px $color-shadow, -0.5px 0.5px 3px $color-shadow, -0.5px -0.5px 3px $color-shadow;

  .card-body {
    font-size: 32px;
    line-height: 45px;
    color: $color-text-blue;
  }

  .card-footer {
    font-size: 14px;
    color: $color-text-light;
  }
}