.renderer-chart {
  min-height: 256px;

  .chart {
    width: 100%;
    height: 100%;
  }
}

.d3-chart {
  text {
    fill: grey;
  }

  .axis path, 
  .axis line {
    fill: none;
    stroke: grey;
    shape-rendering: crispEdges;
  }
}