@for $i from 1 through 10 {
  .icon-#{$i}x {
    height: #{14 + $i*2}px;
    width:  #{14 + $i*2}px;
      
    display: inline-block;
    background: no-repeat center center;
    background-size: contain;
    vertical-align: middle;
    margin-right: 5px;


    &.triangle-yellow {
      background-image: url("../static/icons/icon_triangle_yellow.png");
    }    

    &.triangle-blue {
      background-image: url("../static/icons/icon_triangle_blue.png");
    }    

    &.close {
      background-image: url("../static/icons/icon_close.png");
    }

    &.check {
      background-image: url("../static/icons/icon_check.png");
    }

    &.hint {
      background-image: url("../static/icons/icon_hint.png");
    }

    &.users {
      background-image: url("../static/icons/icon_users.png");
    }

    &.cases {
      background-image: url("../static/icons/icon_cases.png");
    }

    &.bran {
      background-image: url("../static/icons/icon_bran.png");
    }

    &.succ {
      background-image: url("../static/icons/icon_succ.png");
    }

    &.exec {
      background-image: url("../static/icons/icon_exec.png");
    }

    &.arch {
      background-image: url("../static/icons/icon_arch.png");
    }

    &.cycle {
      background-image: url("../static/icons/icon_cycle.png");
    }

    &.scv {
      background-image: url("../static/icons/icon_scv.png");
    }

    &.wmp {
      background-image: url("../static/icons/icon_wmp.png");    
    }
  }
}
