.base-margin {
  margin: var(--base-space);
}

.base-margin-top {
  margin-top: var(--base-space);
}

.base-margin-bottom {
  margin-bottom: var(--base-space);
}

.base-margin-left {
  margin-left: var(--base-space);
}

.base-margin-right {
  margin-right: var(--base-space);
}

.base-padding {
  padding: var(--base-space);
}

.base-padding-top {
  padding-top: var(--base-space);
}

.base-padding-bottom {
  padding-bottom: var(--base-space);
}

.base-padding-left {
  padding-left: var(--base-space);
}

.base-padding-right {
  padding-right: var(--base-space);
}

.half-margin {
  margin: var(--half-space);
}

.half-margin-top {
  margin-top: var(--half-space);
}

.half-margin-bottom {
  margin-bottom: var(--half-space);
}

.half-margin-left {
  margin-left: var(--half-space);
}

.half-margin-right {
  margin-right: var(--half-space);
}

.half-padding {
  padding: var(--half-space);
}

.half-padding-top {
  padding-top: var(--half-space);
}

.half-padding-bottom {
  padding-bottom: var(--half-space);
}

.half-padding-left {
  padding-left: var(--half-space);
}

.half-padding-right {
  padding-right: var(--half-space);
}


.dbl-margin {
  margin: var(--dbl-space);
}

.dbl-margin-top {
  margin-top: var(--dbl-space);
}

.dbl-margin-bottom {
  margin-bottom: var(--dbl-space);
}

.dbl-margin-left {
  margin-left: var(--dbl-space);
}

.dbl-margin-right {
  margin-right: var(--dbl-space);
}

.dbl-padding {
  padding: var(--dbl-space);
}

.dbl-padding-top {
  padding-top: var(--dbl-space);
}

.dbl-padding-bottom {
  padding-bottom: var(--dbl-space);
}

.dbl-padding-left {
  padding-left: var(--dbl-space);
}

.dbl-padding-right {
  padding-right: var(--dbl-space);
}

.half-height {
  height: var(--half-space);
}

.base-height {
  height: var(--base-space);
}

.dbl-height {
  height: var(--dbl-space);
}

.tpl-height {
  height: var(--tpl-space);
}

.qdpl-height {
  height: var(--qdpl-space);
}

.half-width {
  width: var(--half-space);
}

.base-width {
  width: var(--base-space);
}

.dbl-width {
  width: var(--dbl-space);
}

.tpl-width {
  width: var(--tpl-space);
}

.qdpl-width {
  width: var(--qdpl-space);
}