@for $i from 14 through 32 {
  .font-#{$i} {
    font-size: #{$i}px;
  }
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.title {
  margin-top: var(--half-space);
  border-left: 3px solid var(--color-border); 
}