.base-margin {
  margin: var(--base-space)  !important;
}

.base-margin-top {
  margin-top: var(--base-space) !important;
}

.base-margin-bottom {
  margin-bottom: var(--base-space) !important;
}

.base-margin-left {
  margin-left: var(--base-space) !important;
}

.base-margin-right {
  margin-right: var(--base-space) !important;
}

.base-padding {
  padding: var(--base-space) !important;
}

.base-padding-top {
  padding-top: var(--base-space) !important;
}

.base-padding-bottom {
  padding-bottom: var(--base-space) !important;
}

.base-padding-left {
  padding-left: var(--base-space) !important;
}

.base-padding-right {
  padding-right: var(--base-space) !important;
}

.half-margin {
  margin: var(--half-space) !important;
}

.half-margin-top {
  margin-top: var(--half-space) !important;
}

.half-margin-bottom {
  margin-bottom: var(--half-space) !important;
}

.half-margin-left {
  margin-left: var(--half-space) !important;
}

.half-margin-right {
  margin-right: var(--half-space) !important;
}

.half-padding {
  padding: var(--half-space) !important;
}

.half-padding-top {
  padding-top: var(--half-space) !important;
}

.half-padding-bottom {
  padding-bottom: var(--half-space) !important;
}

.half-padding-left {
  padding-left: var(--half-space) !important;
}

.half-padding-right {
  padding-right: var(--half-space) !important;
}


.dbl-margin {
  margin: var(--dbl-space) !important;
}

.dbl-margin-top {
  margin-top: var(--dbl-space) !important;
}

.dbl-margin-bottom {
  margin-bottom: var(--dbl-space) !important;
}

.dbl-margin-left {
  margin-left: var(--dbl-space) !important;
}

.dbl-margin-right {
  margin-right: var(--dbl-space) !important;
}

.dbl-padding {
  padding: var(--dbl-space) !important;
}

.dbl-padding-top {
  padding-top: var(--dbl-space) !important;
}

.dbl-padding-bottom {
  padding-bottom: var(--dbl-space) !important;
}

.dbl-padding-left {
  padding-left: var(--dbl-space) !important;
}

.dbl-padding-right {
  padding-right: var(--dbl-space) !important;
}

.half-height {
  height: var(--half-space) !important;
}

.base-height {
  height: var(--base-space) !important;
}

.dbl-height {
  height: var(--dbl-space) !important;
}

.tpl-height {
  height: var(--tpl-space) !important;
}

.qdpl-height {
  height: var(--qdpl-space) !important;
}

.half-width {
  width: var(--half-space) !important;
}

.base-width {
  width: var(--base-space) !important;
}

.dbl-width {
  width: var(--dbl-space) !important;
}

.tpl-width {
  width: var(--tpl-space) !important;
}

.qdpl-width {
  width: var(--qdpl-space) !important;
}


.border {
  border: 1px solid var(--color-border-grey) !important;
}

.border-bottom {
  border-bottom: 1px solid var(--color-border-grey) !important;
}

@for $i from 1 through 10 {
  .z-index-#{$i} {
    z-index: #{$i};
  }
}