.tooltip-chart-container {
  position: absolute;

  z-index: 99;
  text-align: center;
  background-color: white;

  border-radius: 5px;
  border: 2px #00C9FE solid;
  box-shadow: 3px 3px 5px rgba(0, 79, 100, .5);
}

.collapse-chart-container {
  border: 2px #00C9FE solid;
  border-radius: 5px;
  text-align: center;
}