.tooltip-chart-container {
  position: fixed;

  z-index: 99;
  text-align: center;
  background-color: white;

  border-radius: 5px;

  &.leadValue {
    border: 2px var(--color-blue-bar1) solid;
    box-shadow: 3px 3px 5px rgba(0, 79, 100, .5);
  }

  &.execConversion {
    border: 2px var(--color-yellow-bar1) solid;
    box-shadow: 3px 3px 5px rgba(100, 67, 0, .5);
  }
}

.collapse-chart-container {
  height: 300px;
  border-radius: 5px;
  text-align: center;

  &.leadValue {
    border: 2px var(--color-blue-bar1) solid;

    .collapse-chart-pointer {
      position: fixed;
      margin: -15px;
      height: 18px;
      width:  18px;
        
      background: no-repeat center center;
      background-size: contain;

      background-image: url("../static/icons/icon_triangle_blue.png");
    }
  }

  &.execConversion {
    border: 2px var(--color-yellow-bar1) solid;

    .collapse-chart-pointer {
      position: fixed;
      margin: -15px;
      height: 18px;
      width:  18px;
        
      background: no-repeat center center;
      background-size: contain;

      background-image: url("../static/icons/icon_triangle_yellow.png");
    }
  }

  .collapse-chart {
    height: 270px !important;
  }
}