.poc-top-layout {
  background-color: var(--color-background-light);
  height: 70px;
  line-height: 70px;
  font-size: 20px;
  color: var(--color-text-light);
  padding: 0 var(--qdpl-space);
}

.poc-title {
  margin-top: var(--half-space);
  border-left: 3px solid var(--color-border); 
}

.poc-card {
  min-height: 120px;
  text-align: center; 
  align-items: baseline;
  
  padding: var(--base-space) 0;
  margin-top: var(--base-space);

  border-radius: 6px;
  background-color: var(--color-background-light);
  box-shadow: 0.5px 0.5px 3px var(--color-shadow), 0.5px -0.5px 3px var(--color-shadow), -0.5px 0.5px 3px var(--color-shadow), -0.5px -0.5px 3px var(--color-shadow);

  .card-body {
    font-size: 32px;
    line-height: 45px;
    color: var(--color-text-emphasis);
  }

  .card-footer {
    font-size: 14px;
    color: var(--color-text-light);
  }
}