.poc-top-layout {
  background-color: var(--color-background-light);
  height: 70px;
  line-height: 70px;
  font-size: 20px;
  color: var(--color-text-light);
  padding: 0 var(--qdpl-space);
}

.poc-title {
  margin-top: var(--half-space);
  border-left: 3px solid var(--color-border); 
}