div {
  --color-background: #F4F7F9;
  --color-background-light: #FFFFFF;

  --color-text: #333333;
  --color-text-light: #808080;
  --color-text-strong: #0886D9;

  --color-border: #0269aa;

  --color-shadow: #DDE0EE;
}