div {
  --color-background: #F4F7F9;
  --color-background-light: #FFFFFF;

  --color-text: #333333;
  --color-text-light: #808080;
  --color-text-emphasis: red;

  --color-border: red;

  --color-shadow: #DDE0EE;
}