@import "./variables";

@import "./components/icon";
@import "./components/card";


body {
  font-size: 16px;
  color: $color-text;
  background-color: $color-grey;
  font-family: "PingFangSC-Light", 'HelveticaNeue-Light', "Microsoft YaHei UI", "Microsoft YaHei", "sans-serif";
}

#root{
  min-height: 100vh;
  position: relative;
}

.app-layout {
  min-height: 100vh;
}
