#app {
  --color-background: #F0F2F5;
  --color-background-light: #FFFFFF;

  --color-text: #333333;
  --color-text-light: #808080;
  --color-text-emphasis: #0082F0;

  --color-border-grey: #E0E0E0;
  --color-border: #0082F0;

  --color-shadow: #DDE0EE;
}

@import "./variables";

@import "./components/icon";
@import "./components/chart";
@import "./components/text";
@import "./components/tabs";
@import "./components/typography";

@import "./pages/poc";


body {
  font-size: 14px;
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: "PingFangSC-Light", 'HelveticaNeue-Light', "Microsoft YaHei UI", "Microsoft YaHei", "sans-serif";
}

#root{
  min-height: 100vh;
  position: relative;
}

.app-layout {
  min-height: 100vh;
}

.app-header {
  background-color: var(--color-background);
}